.App {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  padding: 0;
  margin: 0;
}

body {
  background: #181818;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}
